# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
.venv/
env/
venv/
ENV/
*.env

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model/data cache
*.pt
*.pth
*.h5
*.ckpt

# Hugging Face cache
huggingface/
.cache/